---
import QuestionModal from "../components/QuestionModal.astro";
import GameLayout from "../layouts/GameLayout.astro";
---

<GameLayout>
    <div id="game-container">
        <canvas id="gamecanvas"></canvas>
        <QuestionModal></QuestionModal>
    </div>
</GameLayout>