---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="container">
		<div class="center">
			<img class="logo" src="/img/logo.png">
		</div>
		<main>
			<section id="intro">
				<center>
					<h1>
						<code>Nuit de l'info 2024 - Seastem Inc.</code>
					</h1>
				</center>
				<br>
				<article>
					<p>					
						Bienvenue dans Seastem Inc. !
						Dans un monde où le respect de l’environnement n’est pas au rendez-vous, votre mission sera de prendre les bonnes décisions afin de maintenir en état nos océans 🌊
					</p><br>
					<p>
						Le monde, tout comme vous, dispose d’une barre de vie qui se réduit au fil du temps, pour que le monde regagne de la vie, vous devrez prendre une décision qui sera présentée sous la forme d’une question. 
						Mais attention, si vous faites une mauvaise décision, l’océan perd davantage de vie !
					</p>
				</article><br><br>
				<center>
					<a href="try">Jouer</a>
				</center>
				<p class="credit">Credit : Cyprien Freville, Malori Alvarez, Lea Bar, Florine Lefebvre</p>
			</section>
		</main>
	</div>

	<style>
		article p {
			margin-left: 30%;
			margin-right: 30%;
		}

		a{
			padding: 1em;
			background-color: darkcyan;
			border-radius: 24px;
			text-decoration: none;
			color: white;
			border-style: groove;
		}

		a:hover{
			background-color: rgba(0, 139, 139, 0.51);
		}

		p.credit {
			margin-top: 50px;
			font-size: 13px;
			text-align: center;
		}

		img.logo {
			height: 250px;
			width: auto;
		}

		div.center{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
</Layout>
