---
// fichier : src/pages/OceanPage.astro

import PollutionBall from "../components/OceanBall.astro";
import { oceans } from "../data/oceans.js"; // Assurez-vous que les données des océans sont bien importées
---

<html lang="fr">
  <head>
    <title>Océans et Pollution</title>
  </head>
  <body>
    <h1>Informations sur les Océans</h1>
    <ul>
      {oceans.map((ocean) => (
        <li>  {/* Supprimer le key ici */}
          <h2>{ocean.nom}</h2>
          <PollutionBall ocean={ocean} />
        </li>
      ))}
    </ul>
  </body>
</html>
