---
import PollutionBall from "../components/OceanBall.astro";
import { oceans } from "../data/oceans.js"; // Liste des océans
import QuestionModal from "../components/QuestionModal.astro";


// Coordonnées pour chaque océan (index correspond à l'océan dans le tableau)
const positions = [
  { x: 50, y: 50 },
  { x: 200, y: 150 },
  { x: 400, y: 300 },
  { x: 600, y: 450 },
  { x: 800, y: 500 },
];

---

<html lang="fr">
  <head>
    <title>SeaStem - Partie</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta charset="UTF-8">
    <style>
      #game-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }

      #gamecanvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .pollution-ball-container {
        position: absolute;
        z-index: 1; /* Au-dessus du canevas */
        transform: translate(0, -10%); /* Centrer autour des coordonnées */
      }

      #life-bar-container {
        width: 100%;
        height: 30px;
        background-color: #ddd;
        overflow: hidden;
        position: absolute; /* Change à "absolute" pour placer en bas */
        bottom: 0; /* Ancre en bas de l'écran */
        left: 0;
        z-index: 99; /* Toujours visible au-dessus des autres éléments */
      }

      #life-bar {
        height: 100%;
        background-color: green;
        transition: width 0.2s ease-in-out;
      }

      #life-bar-text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-weight: bold;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="/css/game.css" rel="stylesheet">
  </head>
  <body>
    <div id="game-container">
      <canvas id="gamecanvas"></canvas>
      <QuestionModal></QuestionModal>
      {oceans.map((ocean, index) => {
        const pos = positions[index];
        return (
          <div
            class="pollution-ball-container"
            style={`left: ${pos.x}px; top: ${pos.y}px;`}
          >
            <PollutionBall ocean={ocean} />
          </div>
        );
      })}
    </div>
    <!-- La LifeBar est déplacée en dehors du container -->
    <div id="life-bar-container">
      <div 
        id="life-bar"
        style={`width: ${(1500 / 1500) * 100}%`} 
      ></div>
      <div id="life-bar-text">
        {1500} / {1500}
      </div>
    </div>
  </body>
  <script src="/js/game.js" type="module"></script>
</html>

