---
const { life, maxLife } = Astro.props; // Récupère les propriétés `life` et `maxLife`
---

<style>
  #life-bar-container {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
  }

  #life-bar {
    height: 100%;
    background-color: green;
    transition: width 0.2s ease-in-out;
  }

  #life-bar-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
  }
</style>

<div id="life-bar-container">
  <div 
    id="life-bar"
    style={`width: ${(life / maxLife) * 100}%`} 
  ></div>
  <div id="life-bar-text">
    {life} / {maxLife}
  </div>
</div>
