---
const { ocean } = Astro.props;
---

<div class="ocean-stats">
  <h3>Statistiques détaillées de <a href={ocean.lien} target="_blank">{ocean.nom}</a></h3>
  <p><strong></strong>
  <strong></strong>
  <strong></strong></p>
</div>
