<div class="modal" id="questionModal">
    <div class="content">
        <p id="question">Exemple....</p>
        <button id="answer1">Blabla</button>
        <button id="answer2">Blabla</button> 
    </div>
</div>