---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>? - Partie en cours</title>
        <script src="/js/game.js" type="module"></script>
        <style>
            header{
                height:100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>