---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>? - Partie en cours</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/game.js" type="module"></script>
        <link href="/css/game.css" rel="stylesheet">
    </head>
    <body>
        <slot />
    </body>
</html>